.tbody{
    background-color: antiquewhite !important;
}
.head{
    position: sticky;
    top: -6%;
    margin-bottom: 2rem !important;
}

.actions-container {
    white-space: nowrap;
  }
  
  .Parent{
overflow-y: hidden !important;  
}
